@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD - MVC</h1>
    <p class="lead">¡Bienvenidos a mi aplicación CRUD desarrollada con ASP.NET, Entity Framework y SQL!</p>
    <p>Explora las funcionalidades y descubre cómo la combinación de estas tecnologías crea una solución eficiente y robusta para la gestión de datos.</p>
</div>
